.label {
  font-weight: bold;
  padding: 1ex;
}

.label::after {
  content: ":"
}

.error {
  color: red;
}

.title {
  font-style: italic;
  color: #696969;
}

body {
  font-family: helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #F8F8F8 ;
}

div.main{
  margin: 40px 0 0 0;
  text-align: center;
  border-radius: 12px;
  background-color: #C0C0C0 ;
  padding: 10px;
}

div.main:hover{
  background-color: #D3D3D3;
}

div.tit {
  margin: 40px 0 0 0;
  top: 10px;
  bottom: 10px;
  vertical-align: middle;
  text-align: center;
  border-radius: 12px;
  background-color: #C0C0C0 ;
}

label {
  margin: 10px 10px 10px 10px;
}

input {
  width: 94%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;

}

input.controlButton{
  margin: 40px 0 20px 0;
}

input:focus {
  border: 3px solid #555; 
}
